*{

font-size: 16px;
margin:0px;
padding:0px;
border: 0px;
}

body{
font-family: 'Press Start 2P', sans-serif;

background: url('../images/bg.png') no-repeat top center #4da9de;

}

input{

    display: block;
    width: 40%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    margin: 20px auto;
    /*transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    */
}

.gameCanvas{

overflow: hidden;

}
.hero {

  background:green;
  width:144px;
  height:144px;
  border-radius:72px;
  position: relative;
  cursor: pointer;
  transition: all linear 200ms;

}

.info {

  color: white;
  overflow: hidden;
  margin: 20px auto -18px;
  width: 55%;
  min-width: 900px;
  
}

.info p {
  
    font-size: 14px;
}
.left {

  float:left;

}


.right {

  float: right;
}
.box {
  margin: 50px auto;
  display: block;
  width:50%;
  height:500px;
  background: url('../images/pattern.png') white;
  padding:2%;
  text-transform:uppercase;
    text-align:center;
  min-width: 900px;
    -webkit-box-shadow: 0 0 0 20px #168BD9;
  box-shadow: 0 0 0 20px #168BD9;
}
.box h3 {
  color:#fb792a;
  margin: 60px 0px;
  text-shadow: 2px 2px 0 #42BAFF;
  font-size: 24px;
}

.box .options {
  width: 60%;
  margin: 20px auto;
  text-align:center;
 
}



.box .one {
  float:left;
  cursor: pointer;

}



.box .two {
  
  cursor: pointer;
  float: right;
}

.chooseTarget i,.shareCanvas i {
  
  font-size:50px;
  margin: 20px;
  color: darkorange;
  
}

h5 {
  text-transform: uppercase;
  font-size:.8em;
}

input.btn {
  height: 40px;
}

.addOrange{

color:orange;

}

.removeOrange{

color:darkorange;

}
.btn {
  background: url('../images/filter.png') purple;
  width: 50px;
  height: 20px;
  padding:10px;
  color: white;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 50px;
}
.btn:hover {
  
  background: url('../images/filter.png') darkgoldenrod;
  color:black;
  
}
p.small {
  
  font-size: 12px;
  font-family: 'sans-serif';
  margin:-10px 20px 20px;
  text-transform: none;
}


.big {

  font-size:60px;
}