*{

font-size: 16px;
margin:0px;
padding:0px;
border: 0px;
}

body{
font-family: 'Press Start 2P', sans-serif;

background: url('../images/bg.png') no-repeat top center;

}

input{

display: block;
width: 40%;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857;
color: #555;
background-color: #FFF;
background-image: none;
border: 1px solid #CCC;
border-radius: 4px;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
margin: 20px auto;
/*transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
*/
}


.info {
  
  display: none;
  
}

.box {
  margin: 50px auto;
  display: block;
  width:50%;
  height:500px;
  background: url('../images/pattern.png') white;
  padding:2%;
  text-transform:uppercase;
    text-align:center;
  
    -webkit-box-shadow: 0 0 0 20px #168BD9;
box-shadow: 0 0 0 20px #168BD9;
}
.box h3 {
  color:#fb792a;
  margin: 60px 0px;
  text-shadow: 2px 2px 0 #42BAFF;
  font-size: 30px;
}

.box .options {
  width: 60%;
  margin: 20px auto;
}


.box .one {
  
  float:left;
  cursor: pointer;
}



.box .two {
  float:right;
  cursor: pointer;
  
  
}

.chooseTarget i,.shareCanvas i {
  
  font-size:50px;

  margin: 20px;
  color: darkorange;
  
}

.chooseTarget h5 {
  text-transform: uppercase;
}

.btn {
  background: url('../images/filter.png') purple;
  width: 50px;
  height: 20px;
  padding:10px;
  color: white;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 50px;
}
.btn:hover {
  
  background: url('../images/filter.png') darkgoldenrod;
  color:black;
  
}
p.small {
  
  font-size: 12px;
  font-family: 'sans-serif';
  margin:-10px 20px 20px;
  text-transform: none;
}